.expensesUi{
    padding:20px;
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
}   
.expensesUi>:nth-child(1){
    flex:5%;
}
.expensesUi>:nth-child(2){
    flex:45%;
}
.expensesUi>:nth-child(3){
    flex:5%;
}
.expensesUi>:nth-child(4){
    flex:45%;
}
.expensesUi>div{
    overflow-y: auto;
    overflow-x: hidden;
}
.expensesUi>h4{
    background:#000;
    color:#fff;
    text-align:left;
    padding:2px;
}
.expensesUi-cell{
    display: flex;
    justify-content:center;
}
.expensesUi-cell>span{
    text-align:center;
    border-bottom: 1px solid #000;
}
.expensesUi-cell>span:nth-child(1){
    flex:60%;
}
.expensesUi-cell>span:nth-child(2){
    flex:10%;
    border: none;
}
.expensesUi-cell>span:nth-child(3){
    flex:30%;
}