.expensesUi{
    padding:10px 10px;
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
}   
.expensesUi-title{
    display: flex;
    border-bottom:1px solid #000 ;
}
.expensesUi-title>strong{
    text-align: center;
    font-size: bold ;
}
.expensesUi-title>strong:nth-child(1){
    flex:60%;
}
.expensesUi-title>strong:nth-child(2){
    flex:10%;
}
.expensesUi-title>strong:nth-child(3){
    flex:30%;
}
.expensesUi>h4{
    background:#000;
    color:#fff;
    padding:2px;
    display: flex;
    justify-content:space-between;
}
.expensesUi>h4>span{
    display: flex;
    align-items:center;
}
.expensesUi>h4>span:nth-child(2){
    background: #fff;
    padding: 0px 10px;
    color: #000;
    border-radius: 5px;
}
.expensesUi>:nth-child(1){
    flex:5%;
}
.expensesUi>:nth-child(2){
    flex:45%;
}
.expensesUi>:nth-child(3){
    flex:5%;
}
.expensesUi>:nth-child(4){
    flex:45%;
}
.expensesUi>div{
    overflow-y: auto;
    overflow-x: hidden;
}
.expensesUi-cell{
    display: flex;
    justify-content:center;
}
.expensesUi-cell>span{
    text-align:center;
    border-bottom: 1px solid #000;
}
.expensesUi-cell>span:nth-child(1){
    flex:60%;
}
.expensesUi-cell>span:nth-child(2){
    flex:10%;
    border: none;
}
.expensesUi-cell>span:nth-child(3){
    flex:30%;
}