.incomeUi{
    padding:20px;
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
}   
.incomeUi>h4{
    display: flex;
    justify-content:space-between;
}
.incomeUi>h4>span:nth-child(2){
    background: #fff;
    padding: 0px 10px;
    color: #000;
    border-radius: 5px;
}
.incomeUi>:nth-child(1){
    flex:5%;
}
.incomeUi>:nth-child(2){
    flex:45%;
}
.incomeUi>:nth-child(3){
    flex:5%;
}
.incomeUi>:nth-child(4){
    flex:45%;
}
.incomeUi>div{
    overflow-y: auto;
    overflow-x: hidden;
}
.incomeUi>h4{
    background:#000;
    color:#fff;
    text-align:left;
    padding:2px;
}
.incomeUi-cell{
    display: flex;
    justify-content:center;
}
.incomeUi-cell>span{
    text-align:center;
    border-bottom: 1px solid #000;
}
.incomeUi-cell>span:nth-child(1){
    flex:60%;
}
.incomeUi-cell>span:nth-child(2){
    flex:10%;
    border: none;
}
.incomeUi-cell>span:nth-child(3){
    flex:30%;
}