.CountUi{
    padding:10px 10px;
}
.CountUi>p{
    display: flex;
    justify-content:space-between;
}
.CountUi>h4{
    text-align: right;
    display: flex;
    justify-content:space-between;
}
.CountUi>h2{
    text-align: center;
}